/* You can add global styles to this file, and also import other style files */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import "tailwindcss";

body {
  font-family: Tajawal, system-ui, "-apple-system", sans-serif;
  overflow-x: hidden;
}

::selection {
  color: #fff;
  background-color: #f97316;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
